.greenboard {
  width: 90%;
  background: green;
  background: -webkit-radial-gradient(lightgreen, green);
  border-radius: 25px;
  border: 5px solid darkgreen;
  margin: 30px auto;
  padding: 20px;
}
