.hand {
  width: 90%;
  margin: 20px auto;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  border: 2px solid darkgrey;
}

.header {
  padding: 10px;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
}
